.form {
  text-align: center;
  margin: 3em auto;
  display: flex;
  flex-direction: column;
  width: 20%;
}
.form-control {
  margin: 1em auto;
  padding: 0.5em;
}

button {
  border: none;
  padding: 0.5em;
  background-color: rgb(255, 174, 0);

  margin: auto;
  cursor: pointer;
}

button:hover {
  background-color: rgb(0, 255, 64);
}

ul {
  list-style-type: none;
}

.list-item__title {
  text-transform: capitalize;
  color: rgb(0, 0, 0);
}

.list-item {
  padding: 0.5em 1em;
  box-shadow: 0 5px 8px -6px #222;
}
